<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/login">Resin Art</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Opciones visibles solo si el usuario está logueado -->
      <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="authService.isLoggedIn()">
        <li class="nav-item">
          <a class="nav-link" routerLink="/pedidos" routerLinkActive="active">Pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/agregar-pedidos" routerLinkActive="active">Agregar Pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/eliminar-pedidos" routerLinkActive="active">Eliminar Pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/deudas" routerLinkActive="active">Deudas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/agregar-deuda" routerLinkActive="active">Agregar Deuda</a>
        </li>
      </ul>
      <!-- Botón de logout -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a class="nav-link" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
